* {
  font-family: sans-serif;
}

/* .container-header {

} */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-twenty-percent.chegg {
  display: flex;
  flex-direction: row;
}

.column-sixty-percent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chegg {
  color: #f4ad62;
}

.nav {
  display: flex;
}

.options-row {
  display: flex;
  flex-direction: row;
}

.vl {
  border-left: 2px solid black;
  height: 20px;
}

button {
  background-color: #eb7101;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  color: white;
}

.study {
  border: none;
}

.bar {
  border: 3px solid #f3d995;
  width: 400px;
  height: 20px;
}

.column-header-right {
  display: flex;
  align-items: center;
}

.ed {
  padding: 0 40px;
}

.back-img {
  background-image: url("images/hero-image.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.back-img-p1 {
  color: white;
  position: absolute;
  top: 110px;
  left: 90px;
  right: 250px;
}

.back-img-h2 {
  color: white;
  position: absolute;
  top: 150px;
  left: 90px;
  right: 250px;
}

.back-img-p2 {
  color: white;
  position: absolute;
  top: 200px;
  left: 90px;
  right: 250px;
}

.get-started-button {
  position: absolute;
  top: 150px;
  left: 45px;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-content: center;
}
