* {
  font-family: sans-serif;
}

.container-header {
  max-width: 800px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-twenty-percent.chegg {
  flex-basis: 20%;
}

.chegg {
  color: orange;
}

.nav {
  display: flex;
}

.options-row {

}

.vl {
  border-left: 6px solid green;
  height: 300px;
}
