* {
  font-family: sans-serif;
}

.container-header {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-twenty-percent.chegg {
  display: flex;
}

.column-sixty-percent {
  display: flex;
}

.chegg {
  color: #f4ad62;
}

.nav {
  display: flex;
}

.options-row {

}

.vl {
  border-left: 2px solid black;
  height: 20px;
}

button {
  background-color: #eb7101;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  color: white;
}

.study {
  border: none;
}

.bar {
  border: 2px solid #f3d995;
}
